

# core (as you marked necessary)
streamlit==1.51.0
paho-mqtt==2.1.0
pandas==2.3.3
numpy==2.3.4
python_dotenv>=1.1
psycopg2-binary~=2.9.10
SQLAlchemy>=2.0
pydeck~=0.9.1

pydantic>=2.5
emoji==2.15.0
pyarrow>=15.0.0
